body.homebody {
  background: url(images/naples-pier-sunset.jpg) no-repeat center center fixed;
  background-size: cover;
}
body {
  background-color: #d8d7c3;
}
#home {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color: white;
  font-size: 48pt;
  border-top-style: solid;
  border-bottom-style: solid;
  border-color: white;
}
.navbar {
  background: url(images/navbar-bg.jpg) no-repeat center center;
  background-size: cover;
}
.navbar li {
  display: inline;
  font-size: 24pt;
  text-transform: uppercase;
  font-weight: bold;
  padding: 5px;
  margin: 5px;
  font-family: Arial, Helvetica, sans-serif;
}
.navbar ul {
  border-style: solid;
  padding: 15px;
}
.navbar li a.currentpage {
  text-decoration: underline;
}
.navbar li a {
  text-decoration: none;
  color: black;
}
.bodytext {
  font-family: Arial, Helvetica, sans-serif;
  color: #597076;
  min-width: 25%;
  max-width: 75%;
  padding-left: 15%;
}
li a {
  color: #597076;
}
p {
  padding-left: 5px;
}
h1 {
  text-transform: uppercase;
  font-weight: bold;
}
h2 {
  text-decoration: underline;
  margin: 10px;
}
h3 {
  padding-left: 25px;
}
#portrait {
  display: flex;
  position: relative;
  left: 35%;
}